// .box {
//   width: fit-content;
//   display: flex;
//   flex-wrap: wrap;
//   // max-width: 323px;
// }

// .box > :last-child {
//   flex-basis: 100%;
// }
.box {
  width: fit-content;
}

.sideBox {
  display: flex;
  width: 323px;
  justify-content: space-between;
  align-items: center;
}