.text {
  all: unset;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #51525C;
}

.textDark {
  color: #A0A0AB
}

.textError {
  color: #D92D20;
}

.textErrorDark {
  color: #F97066;
}

.disabled {
  color: #70707B;
}

.disabledDark {
  color: #3F3F46;
}