.iconText {
  font-family: Inter, sans-serif;
  color: #70707B;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.iconTextBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 20px;
  border: 1px solid #E4E4E7;
  border-radius: 3px;
  box-sizing: border-box;
}

.dark {
  border-color: #3F3F46;
}