.labelBox {
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #1A1A1E;
  // margin-bottom: 6px;
  width: max-content;
}