.labelBox {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #1a1a1e;
  width: max-content;
}

.textSmall {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #1a1a1e;
}

.textBig {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #1a1a1e;
}

.disabledText {
  color: #70707B;
}

.dark {
  color: #FAFAFA;
}

.darkDisabled {
  color: #A0A0AB;
}