.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  font-family: Inter;
  /* Adjust the size as needed */
  height: 150px;
  /* Adjust the size as needed */
  border: 10px solid #888;
  /* Adjust border color and thickness */
  border-radius: 50%;
  position: relative;
  font-size: 72px;
  color: #888;
  /* Adjust text color */
}

.questionMarkContainer {
  position: relative;
  width: 80px;
  /* Adjust width as needed */
  height: 150px;
  /* Adjust height as needed */
}

.questionMark {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 15px solid #888;
  /* Color and thickness of the question mark */
  border-radius: 50%;
  border-top-color: transparent;
  // border-right-color: transparent;
  top: 0;
  left: 0;
  transform: rotate(-135deg);
}

.questionMarkDot {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #888;
  /* Color of the dot */
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
